<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon aria-hidden="true" name="map"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="logistics" href="/tabs/logistics">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="warning"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="medkit"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
