<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Discussion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- chat service with messages on the page and type box beneath -->
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <div *ngIf="message.sender === 'me'">
        <ng-template>
          <ion-label class="ion-text-end">{{ message }}</ion-label>
        </ng-template>
      </div>
      <div *ngIf="message.sender === 'you'">
        <ng-template>
          <ion-label class="ion-text-start">{{ message }}</ion-label>
        </ng-template>
      </div>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input placeholder="Type a message" (ionChange)="setMessageToSend($event)"></ion-input>
    <ion-button slot="end" (click)="sendMessage()">Send</ion-button>
  </ion-item>
</ion-content>