<div>
  <ion-list [inset]="true">
    <ion-item button id="demand{{demand.id}}" *ngFor="let demand of demands" color="{{ utils.getBgColor(demand.priority) }}">
      <p> {{ getProducts(demand) }} </p>
      <ion-modal trigger="demand{{demand.id}}">
        <ng-template>
          <ion-header [translucent]="false">
            <ion-toolbar>
              <ion-icon name="close-outline" size="large"></ion-icon>
              <ion-title slot="primary">Détails de la demande</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content>
            <ion-text>Priorité : <ion-badge style="vertical-align: bottom;" color="{{ utils.getBgColor(demand.priority) }}"><b>{{ demand.priority }}</b></ion-badge></ion-text>
            <div id="map{{demand.id}}"></div>
            <app-map lat="demand.location.latitude" lng="demand.location.longitude"></app-map>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>
</div>
