<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Demandes
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-segment color="danger" value="all-orders" (ionChange)="segmentChanged($event)" scrollable> <!-- Valeur par défaut -->
    <ion-segment-button value="all-orders">
      <ion-label class="segment-label">Toutes les demandes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="my-orders">
      <ion-label class="segment-label">Mes demandes</ion-label>
    </ion-segment-button>
  </ion-segment>


  <!-- Les lignes suivantes sont pour la démonstration, en réalité on copierait le contenu de ce if -->
  <div *ngIf="!isER; else ER">
    <div *ngIf="segmentValue === 'all-orders'; then listAll else listMine"></div>

    <ng-template #listAll><app-all-demands></app-all-demands></ng-template>
    <ng-template #listMine><app-my-demands></app-my-demands></ng-template>
  </div>
  <ng-template #ER>
    <div *ngIf="segmentValue === 'all-orders'; then listAll else listMine"></div>

    <ng-template #listAll><app-s-all-demands></app-s-all-demands></ng-template>
    <ng-template #listMine><app-s-my-demands></app-s-my-demands></ng-template>
  </ng-template>


  <!-- <app-explore-container name="Page des commandes (WIP)"></app-explore-container> -->
</ion-content>