ion-toolbar {
  color: var(--ion-toolbar-background);
  --background: white;
  border-bottom: 3px solid var(--ion-toolbar-background);
}
ion-title {
  font-weight: bold;
  font-size: x-large;
}

ion-fab-button {
  // stick to the bottom right above the footer
  position: fixed;
  bottom: 10px;
  right: 10px;
  // fix width
  width: 50px;
  // fix height
  height: 50px;
}

ion-icon {
  color: #f00;
  --ionicon-stroke-width: 64px;
  width: 40px;
  height: 40px;
}
